body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  background: #000;
  align-items: center;
  justify-content: center;
}

.headtext {
  font-size: 120px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  color: #fff;
  position: relative;
  transition: ease-in-out;
}

.footer {
  color: #fff;
  bottom: 20px;
  right: 731px;
  position: absolute;
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  animation: blinker 5s ease-in-out infinite;
}
#ft::before {
  content: "@DrewBarbosa";
}

.footer1 {
  color: #fff;
  bottom: 20px;
  right: 497px;
  position: absolute;
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  animation: blinker 10s ease-in-out infinite;
}
#ft1::before {
  content: "@DrewBarbosa";
}

.assinado {
  color: #fff;
  bottom: 150px;
  right: 530px;
  position: absolute;
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
#sign::before {
  content: "Matos Barbosa";
}

#text {
  display: flex;
  animation-delay: 5s;
}
#text::before {
  content: "";
  animation: animate ease-in-out infinite 20s;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    content: "Desejo a todos";
    opacity: 1;
  }
  50% {
    content: "Um Feliz Ano Novo";
    opacity: 1;
  }
  100% {
    content: "E Um Próspero 2021!";
    opacity: 1;
  }
}
